* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Georgia, times, serif;
  color: #333333;
  font-size: 1.2rem;
  margin: 0;
  position: relative;
  min-height: 100vh; }

p {
  margin-bottom: 1.6rem;
  text-align: center; }

.container {
  width: 85%;
  max-width: auto;
  margin: 0 auto; }

.header {
  background-image: linear-gradient(to bottom, blue, whitesmoke);
  padding: 2rem 0; }

.header a {
  color: white;
  text-decoration: none; }

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  letter-spacing: 15px;
  font-size: 1.2rem;
  text-align: center; }

.navegation ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .navegation ul li {
    display: inline-block; }
    .navegation ul li:hover {
      background-color: rgba(128, 128, 128, 0.63);
      transform: scale(1.1); }
  .navegation ul a {
    display: block;
    padding: 0.5rem 3rem; }

.mainIndex {
  justify-content: center; }
  .mainIndex h1 {
    font-size: 2rem;
    margin: 2rem;
    padding: 1rem;
    text-align: center; }
  .mainIndex .mainP {
    text-align: center;
    margin: 2rem; }

.imgAuto {
  display: flex;
  justify-content: space-around;
  text-align: center; }

img {
  width: 400px;
  height: 400px; }

.contenedor, .contenedorServicio {
  height: 90vh; }

footer {
  background-image: linear-gradient(to top, grey, whitesmoke);
  text-align: center;
  padding: 3rem 0; }
  footer h2 {
    font-size: medium;
    padding: 10px;
    text-align: center; }
  footer h3 {
    font-size: small;
    padding: 10px;
    text-align: center; }

.navegation ul li:hover {
  background-color: rgba(128, 128, 128, 0.63);
  transform: scale(1.1); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.mainServicio {
  height: 80vh;
  display: grid;
  grid-template-areas: "mainS"  "imagen1"  "imagen2" "imagen3"  "imagen4";
  justify-content: center;
  margin: auto; }

.imagen4 {
  display: none; }

.mainS {
  text-align: center;
  grid-area: mainS;
  margin: auto; }

.imagen1 {
  grid-area: imagen1;
  margin: 0.3rem; }

.imagen2 {
  grid-area: imagen2;
  margin: 0.3rem; }

.imagen3 {
  grid-area: imagen3;
  margin: 0.3rem; }

.imagen4 {
  grid-area: imagen4;
  margin: 0.3rem; }

@media only screen and (min-width: 600px) {
  .mainServicio {
    height: 80vh;
    display: grid;
    grid-template-areas: "mainS mainS" "imagen1 imagen2"  "imagen3 imagen4";
    justify-content: center;
    margin: auto; }
  .imagen4 {
    display: block;
    grid-area: imagen4;
    margin: 0.3rem; }
  .mainS {
    font-size: 1.5rem;
    padding: 3vh;
    margin: auto; } }

@media only screen and (min-width: 1024px) {
  .mainServicio {
    height: 80vh;
    display: grid;
    grid-template-areas: "mainS mainS mainS mainS" "imagen1 imagen2 imagen3 imagen4";
    justify-content: center;
    margin: auto; } }

.card-body {
  background-color: rgba(128, 128, 128, 0.63); }
